<html>
	<head>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
			integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="/static/Javascript/main.js"></script>
	</head>
	<body>
		<h1>Please Log in!</h1>
		<form id="button-test-two">
			<input type="email" placeholder="email" id="log_in_email_input" />
			<input type="password" placeholder="password" id="log_in_password_input" />
			<button type="submit" onclick="log_in()">Log In</button>
		</form>
		<h3>If you don't have an account, create one <a href="/sign_up">here</a></h3>
	</body>
</html>
