{% extends "to_do_app/layout.html" %} {% block scripts %}
<script src="/static/Javascript/login.js"></script>
{% endblock %} {% block content %}

<h1>Please Log in!</h1>
<p id="log-in-alert"></p>
<form onsubmit="log_in(event)">
	<div class="form-group">
		<label for="log_in_email_input">Email address</label>
		<input
			type="email"
			class="form-control"
			id="log_in_email_input"
			aria-describedby="emailHelp"
			placeholder="Enter email"
		/>
	</div>
	<div class="form-group">
		<label for="log_in_password_input">Password</label>
		<input type="password" class="form-control" id="log_in_password_input" placeholder="Password" />
	</div>
	<!-- <div class="form-check"> 
		would like to have a "remember me option"
	  <input type="checkbox" class="form-check-input" id="exampleCheck1">
	  <label class="form-check-label" for="exampleCheck1">Check me out</label>
	</div> -->
	<button type="submit" class="btn btn-primary">Log In</button>
</form>

<h3>If you don't have an account, create one <a href="/sign_up">here</a></h3>
{% endblock %}
