{% extends "to_do_app/layout.html" %} {% block scripts %}

<script src="/static/Javascript/main.js" defer></script>
{% endblock %} {% block content %}
<h1>Sign up here!</h1>

<form onsubmit="sign_up(event)">
	<div class="form-group">
		<label for="sign_up_email_input">Email address</label>
		<input
			type="email"
			class="form-control"
			id="sign_up_email_input"
			aria-describedby="emailHelp"
			placeholder="Enter email"
		/>
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<label for="sign_up_password_input">Password</label>
		<input type="password" class="form-control" id="sign_up_password_input" placeholder="Password" />
	</div>
	<button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<h3 id="log_in_redirect">After signing up, login <a href="/log_in"> here </a></h3>
<!-- I wanted to fill that h3 once they signed up, but couldn't get it to work so just filled it in to keep working on my app -->
{% endblock %}
