{% extends "to_do_app/layout.html" %} {% block content %}
<h1>Lets get crackin!</h1>
{% if user_todos %}
<div class="row">
	<div id="to-do-list-titles">
		<span>Category</span>
		<span>Title</span>
		<span>Priority</span>
	</div>
</div>
<div class="row">
	<div class="list-group">
		{% for item in user_todos %}
		<label class="list-group-item">
			<input class="form-check-input me-{{ forloop.counter }}" type="checkbox" value="" />
			<a href="/task/{{item.id}}">
				<span>{{item.category}}</span>
				<span>{{item.title}}</span>
				<span>{{item.priority}}</span>
			</a>
		</label>
		{% endfor %}
	</div>
</div>
{% else %}
<h2>You don't have any tasks yet!</h2>
{% endif %}

<a href="/addtask/">
	<h3>Add a task</h3>
</a>

{% endblock %}
